/*  ================================================HOME==================================================*/
#Home{
   height: 840px;
}
.heading{
    font-size: 1.7rem;
}
/* ====================================================About============================================== */
#pic img{
    width:150;
    height: 155px;
}
#intro h2{
    font-size: 1.6rem;
}

/* ====================================================PORTFOLIO=========================================== */
.gallary img {
    height: 255px;
    width: 150px;
    margin: 10px;
}
#portfolio h1{
    font-size: 1.6rem;
}